.submit-container {
	background-color: #310B0B;
	height: 100vh;
	padding-top: 100px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.submit-container > * {
	animation: fadeIn 1s 1;
}

@keyframes fadeIn {
	from {opacity: 0}
	to {opacity:  1}
}
