.about-wrapper > * {
	animation: fadeIn 1s 1;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	background-color: #310B0B;
}

@keyframes fadeIn {
	from {opacity: 0%}
	to {opacity:  100%}
}