.about-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	animation: fadeIn 1s 1;
}

@keyframes fadeIn {
	from {opacity: 0%}
	to {opacity:  100%}
}