@keyframes fadeIn {
  from {opacity: 1}
  to {opacity:  0}
}

.endScreenContainer {
	opacity: 1;
	animation: fadeIn 1s 1 forwards;

	display:  flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: absolute;
	border: 4px solid #e4ca69;
	padding: 40px;
	top: 50%;
	left: 50%;
	min-height: 30%;
	min-width: 30%;
	transform: translate(-50%, -50%);
}

h2 {
	color: #F4ABC4;
	padding: 0px 10px 3px 0px;
	margin-top: 0px;
	border-bottom: 3px solid #f3e8be;
	font-size: 25px;
	margin-bottom: 50px;
}

h4 {
	color: #E79E4F;
	margin: 10px;
	font-size: 17px;
	font-weight: 300;
}

.divider {
	border-bottom: 1px solid #f3e8be;
	width: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.end-screen {
	margin-top: 50px;
	margin-right: 20px;
	margin-left: 20px;
}

.end-replay:hover {
	background-color: rgba(0,0,0,0) !important;
	border-color: rgb(255,255,255) !important;
}

.end-submit:hover {
	background-color: rgba(0,0,0,0) !important;
	border-color: rgb(255,255,255) !important;
}

.endScreenButtonContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}